<ion-content no-bounce>
    <div class="login-background"></div>
    <ion-grid no-padding>
      <ion-row justify-content-center no-padding>
        <ion-col col-sm-8 col-lg-6 col-xl-4 align-self-center no-padding>
          <div class="login-header" text-center>
            <h1>APP_NAME</h1>
          </div>
          <div class="login-container">
            <form (ngSubmit)="login()" [formGroup]="loginForm" novalidate>
              <div padding ion-text color="danger" [hidden]="!error || loginForm.dirty">
                Username or password incorrect.
              </div>
              <ion-list>
                <ion-item>
                  <ion-label floating>{{'Username'}}</ion-label>
                  <ion-input type="text" formControlName="username" autocomplete="username"></ion-input>
                </ion-item>
                <div padding [hidden]="loginForm.controls.username.valid || loginForm.controls.username.untouched"
                     ion-text color="danger">
                  Username is required
                </div>
                <ion-item>
                  <ion-label floating>{{'Password'}}</ion-label>
                  <ion-input type="password" formControlName="password" autocomplete="current-password"></ion-input>
                </ion-item>
                <div padding [hidden]="loginForm.controls.password.valid || loginForm.controls.password.untouched"
                     ion-text color="danger">
                  Password is required
                </div>
                <ion-item padding-top no-lines>
                  <ion-label><span>Remember me</span></ion-label>
                  <ion-checkbox formControlName="remember"></ion-checkbox>
                </ion-item>
              </ion-list>
              <div padding-horizontal>
                <button type="submit" [disabled]="loginForm.invalid" ion-button color="primary" block>
                  <span>Login</span>
                </button>
              </div>
            </form>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>